<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <br>

            <div class="row">
                <div class='col-12'>
                    <a href="" class="btn btn-success">Add new Singer</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class='col-12'>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Name</td>
                                <td>Avatar</td>
                                <td>Option(s)</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Chi Pu</td>
                                <td>
                                    <img height="150px" src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/avatars/a/9/e/1/a9e14b98a59c41799490cc1cf6b3de63.jpg">
                                </td>
                                <td>
                                    <a href="" class="btn btn-warning">Update</a>
                                    <a href="" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>